 <div class="login-container">
  <div class="navbar">
    <div class="navbar-left">
    </div>
    <div class="navbar-right">
      <a class="btn" [ngClass]="{'active-link': isActive('/login')}" routerLink="/login">Login</a>
      <a class="btn" [ngClass]="{'active-link': isActive('/register')}" routerLink="/register">Signup</a>
    </div>
  </div>

  <div class="login-form">
    <a href="#" class="d-flex justify-content-center">
      <img src="assets/images/project-management.png"
      class="projectLogo"
      style="width: 100px; height: 80px;"/>
    </a>
    <p class="logoTitle">Project Overseer123</p>
    <h2 class="logoTitle">Login</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <input type="email" (input)="validateEmail($event)" placeholder="Email" [(ngModel)]="email" name="email" required />
      </div>
      <div *ngIf="showEmailErrorMessage" class="error-message s1 text-danger">
       Please Provide Email in valid format
      </div>
      <div class="form-group">
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" [(ngModel)]="password" name="password" required />
        <div (click)="showOrHidePassword()" class="toggle-password">
          <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <div class="form-footer">
        <p>Don't have an account? <a routerLink="/register">Signup</a></p>
        <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
          <img src="assets/images/authentication/google-icon.svg" />
          Sign In With Google
        </button>
      </div>
    </form>
  </div>
</div>

