body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.navbar-left .icon {
  font-size: 24px;
}

.navbar-right {
  display: flex;
}

.navbar-right .btn {
  margin-left: 10px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: radial-gradient(circle, white 30%, skyblue 100%);
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.signup-form h2 {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn {
  text-decoration: none;
  color: #000; /* Default text color */
  font-size: 16px;
  padding: 10px 15px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid transparent; /* Default border */
  border-radius: 5px; /* Optional: rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.active-link {
  color: #ffffff; /* Text color for active link */
  background-color: #007bff; /* Background color for active link */
  font-weight: bold;
  padding: 8px 13px; /* Adjust padding to accommodate the background */
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
}

.btn-google {
  background-color: #4285f4;
  color: #ffffff;
  margin-top: 10px;
}

.form-footer {
  margin-top: 10px;
}

.form-footer a {
  color: #007bff;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}

.error-message {
  font-size: 14px;
  margin-bottom: 0.25rem;
  font-weight: bold;
}


.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.form-group:last-child {
  margin-right: 0;
}

.logoTitle {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Courier, monospace;
  margin-left: 10px;
  margin-bottom: 5px; /* Adjusted margin-bottom for Project Overseer */
}

h2.logoTitle {
  margin-top: 0px; /* Adjusted margin-top for Signup */
}
